<% if (typeof articleCard === 'undefined') { articleCard = []; } %>
<div class="article-card">
  <a class="article-card__inner" href="<%- articleCard.link %>">
    <figure class="article-card__image">
      <img src="<%- articleCard.imgPath %>" alt="<%- articleCard.alt %>" width="121" height="90" />
    </figure>
    <div class="article-card__body">
      <time class="article-card__date" datetime="<%- articleCard.datetime %>"><%- articleCard.date %></time>
      <div class="article-card__title"><%- articleCard.title %></div>
    </div>
  </a>
</div>
