<% if (typeof tourCardData === 'undefined') { tourCardData = []; } %>
<% if (typeof page === 'undefined') { page = false; } %>
<a class="tour-card<%- page ? " tour-card--page" : "" %>" href="<%- tourCardData.link %>">
  <figure class="tour-card__image">
    <img
      src="<%- tourCardData.imgPath %>"
      alt="<%- tourCardData.alt %>"
    />
  </figure>
  <div class="tour-card__body">
    <div class="tour-card__top">
      <div class="tour-card__label label-container">
        <span class="label"><%- tourCardData.label %></span>
      </div>
      <div class="tour-card__title"><%- tourCardData.title %></div>
    </div>
    <div class="tour-card__bottom">
      <p class="tour-card__explain">
        <%- tourCardData.text %>
      </p>
      <div class="tour-card__price-container">
        <div class="price-container">
          <span class="price-container__cancelled-price"
            ><%- tourCardData.cancelledPrice %></span
          >
          <span class="price-container__price"
            ><%- tourCardData.price %></span
          >
        </div>
      </div>
    </div>
  </div>
</a>
