<% if (typeof campaignCardData === 'undefined') { campaignCardData = []; } %>
<% if (typeof page === 'undefined') { page = false; } %>

<a class="campaign-card<%- page ? " campaign-card--page" : "" %>" href="<%- campaignCardData.link %>">
  <div class="campaign-card__image">
    <img
      src="<%- campaignCardData.imgPath %>"
      alt="<%- campaignCardData.alt %>"
    />
  </div>
  <div class="campaign-card__body">
    <div class="campaign-card__top">
      <div class="campaign-card__label label-container">
        <span class="label"><%- campaignCardData.label %></span>
      </div>
      <div class="campaign-card__title"><%- campaignCardData.title %></div>
    </div>
    <div class="campaign-card__bottom">
      <p class="campaign-card__explain">
        <%- campaignCardData.text %>
      </p>
      <div class="campaign-card__price-container">
        <div class="price-container">
          <span class="price-container__cancelled-price"
            ><%- campaignCardData.cancelledPrice %></span
          >
          <span class="price-container__price"
            ><%- campaignCardData.price %></span
          >
        </div>
      </div>
    </div>
  </div>
</a>
