<% if (typeof campaignCardData === 'undefined') { campaignCardData = []; } %>
<% if (typeof page === 'undefined') { page = false; } %>
<% if (typeof cardType === 'undefined') { cardType = ""; } %>
<% if (typeof sideBar === 'undefined') { sideBar = ""; } %>

<a class="campaign-card<%- page ? " campaign-card--page" : "" %>" href="<%- campaignCardData.link %>">
  <div class="campaign-card__image<%- sideBar ? " campaign-card__image--sidebar" : "" %>">
    <!-- retina sp 3倍対応のため PC 版画像を流用する -->
      <img
      src="<%- campaignCardData.imgPath %>-pc.jpg"
      alt="<%- campaignCardData.alt %>"
      />
</div>
  <div class="campaign-card__body campaign-card__body--page">
    <div class="campaign-card__top">
      <% if(!sideBar){ %>
      <div class="campaign-card__label label-container">
        <span class="label"><%- campaignCardData.label %></span>
      </div>
      <% } %>
      <div class="campaign-card__title<%- sideBar ? " campaign-card__title--sidebar" : "" %>"><%- campaignCardData.title %></div>
    </div>
    <div class="campaign-card__bottom">
      <p class="campaign-card__explain<%- sideBar ? " campaign-card__explain--sidebar" : "" %>">
        <%- campaignCardData.text %>
      </p>
      <div class="campaign-card__price-container">
        <div class="price-container">
          <span class="price-container__cancelled-price<%- sideBar ? " price-container__cancelled-price--sidebar" : "" %>"
            ><%- campaignCardData.cancelledPrice %></span
          >
          <span class="price-container__price<%- sideBar ? " price-container__price--sidebar" : "" %>"
            ><%- campaignCardData.price %></span
          >
        </div>
      </div>
    </div>
    <% if(!sideBar){ %>
      <div class="campaign-card__bottom2">
      <div class="campaign-card__text">
        ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
      ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキスト
      </div>
      <div class="campaign-card__date-container">
        <p class="campaign-card__date">
          <time datetime="2023-06-01">2023/6/1</time>
          -
          <time datetime="2023-09-30">9/30</time>
        </p>
        <p class="campaign-card__link">ご予約・お問い合わせはコチラ</p>
      </div>
      <div class="campaign-card__button">
        <!-- TODO: button を a タグに変更する -->
        <button class="button"><span class="button__text">Contact us</span></button>
      </div>
    </div>
    <% } %>
  </div>
</a>
