
<% if (typeof gallery === 'undefined') { gallery = {}; } %>
<% if (typeof index === 'undefined') { index = ""; } %>
<div class="js-modalPhoto gallery__item gallery__item<%- index %>" >
  <picture>
    <source
      srcset="<%- gallery.imagePath %>-sp.jpg"
      media="(max-width: 767px)"
    />
    <img
      src="<%- gallery.imagePath %>-pc.jpg"
      alt="<%- gallery.alt %>-"
      width="<%- gallery.width %>"
      height="<%- gallery.height %>"
    />
  </picture>
</div>
