<% if (typeof voiceCardData === 'undefined') { voiceCardData = []; } %>
<div class="voice-card-sidebar">
  <div>
    <div class="voice-card-sidebar__head">
      <div class="voice-card-sidebar__info">
        <div class="voice-card-sidebar__meta">
        </div>
        <figure class="js-colorAnimation voice-card-sidebar__image">
          <picture>
            <source
              srcset="<%- voiceCardData.imgPathSp %>"
              media="(max-width: 767px)"
            />
            <img
              src="<%- voiceCardData.imgPathPc %>"
              alt="<%- voiceCardData.alt %>"
              width="294"
              height="218"
            />
          </picture>
        </figure>
        <div class="voice-card-sidebar__person">
          <%- voiceCardData.person %>
        </div>
        <div class="voice-card-sidebar__title">
          <div><%- voiceCardData.title %></div>
        </div>
      </div>
    </div>
    <div class="voice-card-sidebar__button">
      <a href="<%- voiceCardData.link %>" class="button"><span class="button__text">View more</span></a>
    </div>
  </div>
</div>
