<% base = { path: "./", title: "私たちについて", description: "沖縄那覇市のダイビングショップ CodeUps のサイトの私たちについてページです。営業時間:8:30-19:00 定休日:毎週火曜日"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include("./common/_head", { base: base}) %>
  <body>
    <%- include("./common/_header", { base: base}) %>
    <main>
      <% const subKeyVisualData = {
      pageTitle:"About us",imageClass:"about-us-background" } %> <%-
      include("./top/_sub-key-visual",{subKeyVisualData:subKeyVisualData}) %> <%
      const breadcrumbsData = { white:false, list:[
      {title:"TOP",url:"/"},{title:base.title, url:"/about-us.html"}] }; %>
      <%- include("./common/_breadcrumbs", { breadcrumbsData: breadcrumbsData})
      %>
      <div class="l-about-us">
        <div class="about-us">
          <div class="about-us__inner">
            <%- include("./common/_about", {top:false}) %>
          </div>
        </div>
      </div>
      <section class="l-gallery">
        <div class="gallery">
          <div class="gallery__inner inner">
            <%- include("./common/_section-title", {englishTitle:"Gallery",
            japaneseTitle:"フォト"}) %>
            <div class="gallery__item-container l-gallery__item-container">
              <% const galleryDataAll =[ {
              imagePath:"./assets/images/about-us/gallery1", alt:"珊瑚の海",
              width:"492", height:"746"}, {
              imagePath:"./assets/images/about-us/gallery2", alt:"石垣の海",
              width:"580", height:"369" }, {
              imagePath:"./assets/images/about-us/gallery3",alt:"魚たち1",
              width:"580", height:"369" }, {
              imagePath:"./assets/images/about-us/gallery4", alt:"魚たち2",
              width:"580",height:"369" }, {
              imagePath:"./assets/images/about-us/gallery5", alt:"魚たち3",
              width:"580", height:"369" }, {
              imagePath:"./assets/images/about-us/gallery6", alt:"魚たち4",
              width:"492", height:"746" }, ]; galleryDataAll.forEach((gallery,
              index) => { %> <%- include("./common/_gallery-item",
              {gallery:gallery, index:index}) %> <% }); %>
            </div>
          </div>
        </div>
        <%- include("./common/_modal") %>
      </section>
      <section class="l-top-contact">
        <%- include("./common/_contact") %>
      </section>
    </main>
    <div class="l-footer">
      <%- include("./common/_scrollToTop") %> <%- include("./common/_footer") %>
    </div>
  </body>
</html>
