<% base = { path: "./", title: "トップ", css: "top", description:
"架空のコーポレートデモサイトのトップページです。"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(base.path + "./common/_head", { base: base}) %>
  <body>
    <%- include(base.path + "./common/_header", { base: base}) %>
    <main>
      <% const subKeyVisualData = { pageTitle:"Blog",
      imageClass:"static-page-background" } %> <%- include(base.path +
      "./top/_sub-key-visual",{subKeyVisualData:subKeyVisualData}) %> <% const
      breadcrumbsData = { white:false, list:[
      {title:"TOP",url:"/"},{title:"サイトマップ",url:"/sitemap.html"}] }; %>
      <%- include(base.path + "./common/_breadcrumbs", { breadcrumbsData:
      breadcrumbsData}) %>
      <section class="l-blog">
        <div class="blog">
          <div class="blog__inner inner">
            <div class="l-blog__cards-wrapper">
              <%- include(base.path + "./common/_blog-cards") %>
            </div>
            <div class="blog__pager">
              <%- include(base.path + "./common/_pager") %>
            </div>
          </div>
        </div>
      </section>
      <section class="l-top-contact">
        <%- include(base.path + "./common/_contact") %>
      </section>
    </main>
    <div class="l-footer">
      <%- include(base.path + "./common/_scrollToTop") %> <%- include(base.path
      + "./common/_footer") %>
    </div>
  </body>
</html>
