<% base = { path: "./", title: "コンタクト", description: "沖縄那覇市のダイビングショップ CodeUps のサイトのトップページです。営業時間:8:30-19:00 定休日:毎週火曜日"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(base.path + "./common/_head", { base: base}) %>
  <body>
    <%- include(base.path + "./common/_header", { base: base}) %>
    <main>
      <% $subKeyVisualData = { pageTitle:"Contact",
      imageClass:"contact-background" } %> <%- include(base.path +
      "./top/_sub-key-visual",{subKeyVisualData:$subKeyVisualData}) %> <% const
      breadcrumbsData ={ white:false, list:[
      {title:"TOP",url:"/"},{title:base.title ,url:"/contact.html"}] }; %> <%-
      include(base.path + "./common/_breadcrumbs", { breadcrumbsData:
      breadcrumbsData}) %>
      <section class="contact l-contact">
        <div class="contact__inner inner">
          <div class="contact__error-message">必須項目が入力されていません。<br class="p-mobile">入力してください。</div>
          <%- include(base.path + "./common/_contact-form") %>
        </div>
      </section>
    </main>
    <div class="l-footer">
      <%- include(base.path + "./common/_scrollToTop") %> <%- include(base.path
      + "./common/_footer") %>
    </div>
  </body>
</html>
