<% base = { path: "./", title: "トップ", css: "top", description: "架空のコーポレートデモサイトのトップページです。"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(base.path + "./common/_head", { base: base}) %>
  <body>
    <%- include(base.path + "./common/_header", { base: base}) %>
    <main>
      <%- include(base.path + "./top/_key-visual") %>
      <%- include(base.path + "./top/_top-campaign") %>
      <%- include(base.path + "./top/_top-about") %>
      <%- include(base.path + "./top/_top-information") %>
      <%- include(base.path + "./top/_top-voice") %>
      <%- include(base.path + "./top/_top-price") %>
      <%- include(base.path + "./common/_contact") %>
    </main>
    <%- include(base.path + "./common/_scrollToTop") %>
    <%- include(base.path + "./common/_footer") %>
  </body>
</html>
