<% base = { path: "./", title: "トップ", description: "沖縄那覇市のダイビングショップ CodeUps のサイトのトップページです。営業時間:8:30-19:00 定休日:毎週火曜日"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(base.path + "./common/_head", { base: base}) %>
  <body class="js-gsap">
    <%- include(base.path + "./common/_header", { top: true}) %>
    <main>
      <%- include(base.path + "./top/_key-visual") %>
      <section class="l-top-campaign">
        <%- include(base.path + "./top/_top-campaign") %>
      </section>
      <section class="l-top-about">
        <%- include(base.path + "./top/_top-about", {top:false}) %>
      </section>
      <section class="l-top-information">
        <%- include(base.path + "./top/_top-information") %>
      </section>
      <section class="l-top-blog">
        <%- include(base.path + "./top/_top-blog") %>
      </section>
      <section class="l-top-voice">
        <%- include(base.path + "./top/_top-voice") %>
      </section>
      <section class="l-top-price">
        <%- include(base.path + "./top/_top-price") %>
      </section>
      <section class="l-top-contact">
        <%- include(base.path + "./common/_contact") %>
      </section>
    </main>
    <div class="l-footer">
      <%- include(base.path + "./common/_scrollToTop") %>
      <%- include(base.path + "./common/_footer") %>
    </div>
  </body>
</html>
