<% base = { path: "./", title: "料金一覧", description: "沖縄那覇市のダイビングショップ CodeUps のサイトの料金一覧ページです。営業時間:8:30-19:00 定休日:毎週火曜日"} %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(base.path + "./common/_head", { base: base}) %>
  <body>
    <%- include(base.path + "./common/_header", { base: base}) %>
    <main>
      <% $subKeyVisualData = { pageTitle:"Price", imageClass:"price-background"
      } %> <%- include(base.path +
      "./top/_sub-key-visual",{subKeyVisualData:$subKeyVisualData}) %> <% const
      breadcrumbsData ={ white:false, list:[
      {title:"TOP",url:"/"},{title:base.title, url:"/price.html"}]
      }; %> <%- include(base.path + "./common/_breadcrumbs", { breadcrumbsData:
      breadcrumbsData}) %>
      <div class="l-price">
        <div class="price">
          <div class="price__inner inner">
            <div class="price__contents">
              <%- include(base.path + "./common/_price-lists-main") %>
            </div>
          </div>
        </div>
      </div>
      <section class="l-top-contact">
        <%- include(base.path + "./common/_contact") %>
      </section>
    </main>
    <div class="l-footer">
      <%- include(base.path + "./common/_scrollToTop") %> <%- include(base.path
      + "./common/_footer") %>
    </div>
  </body>
</html>
